* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
     background-color: #42424270; 
}
   
/*------ start header section------ */
header {
    /* background-color:#1E4356; */
    background: linear-gradient(90deg, rgb(27, 21, 3),#1E4356 );
    text-align: center;
    padding: 20px;
    font-family: 'Rubik', sans-serif;
}
header h1 {
    color: white;
    margin: auto;
    font-family: 'Rubik', sans-serif;
}

#center_heading{
    margin: 20px 0; 
    font-family: 'Rubik', sans-serif; 
}

#center_heading, h2 {
text-align: center;
border-bottom: 2px double black;
width: 160px;
margin: auto;
font-size: 40px;  

}
#left_heading{
    margin: 6px 0;
    margin-left: 20px;
    font-family: 'Rubik', sans-serif;
}
#left_heading h3 {
    border-bottom: 2px solid black;
    margin-left: 10px;
    width: 130px;
}

/* ------start nav section------ */
nav {
    background-color: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}
.left_menu a{
    color: white;
    text-decoration: none;
    font-family: bold;
    text-transform: capitalize;
    margin: 10px;
    font-family: 'Rubik', sans-serif;
}
.right_menu a{
    color: white;
    margin: 10px;
    text-decoration: none;

}
.right_menu,a:hover{
    color: orange;
}
.main_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;

}
video{
    width: 30%;
    margin-bottom: 20px;
   
}
.text-center {
    border: 1px solid black;
    /* background: lightgray; */
    width: 95%;
    text-align: center;
    margin: auto;
    padding: 12px;
    font-size: 23px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 2px 2px 6px white;
    background: linear-gradient( 227deg, lightgray,lightblue);
    font-family: 'Rubik', sans-serif;
}

.btn {
    display: inline-block;
     color: white;
    font-weight: 500;
    font-size: 20px;
    background-color: #1E4356;
    border: none;
    border-radius: 5px;
    padding: 10px 16px;
    cursor: pointer;
    margin-left: 40px;
    font-family: 'Rubik', sans-serif;
}
#center_text {
    text-align: center;
    margin: 30px 0;
    font-family: 'Rubik', sans-serif;
    padding: 16px;
}
#center_text h3 {
    margin: 20px 0;
    border-bottom: 2px double black;
    margin: auto;
    width: 12%;
}
.text_heading, h6{
    background-color: #561e1e96;;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 18px;
    margin: auto;
    width: 200px;
 
}

.notes_file, img {
    width: 250px;
    margin-bottom: 20px;
   
}
.notes_file {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
 
}
.pdf_text1,.pdf_text2,.pdf_text3 {
    padding: 0 40px;
    margin:auto;
}
.Intro_section{
    background: rgb(240, 231, 227);
    width: 100%;
    margin: auto;
    height: auto;
}
.About_Founder p{
    width: 90%;
    padding: 40px 13px;
    margin: auto;
    text-align: justify;
   
}
#Youtube_text {
    background-color: red;
    padding: 6px 12px;
    border-radius: 26px;     
}
#Youtube_text, #Linkedln, a {
    color:white;
    text-decoration: none;
}
#Linkedln_text {
    background-color: #0e76a8;
    padding: 6px 12px;
    border-radius: 26px; 
}
#facebook_text{
    background-color:#4267B2;
    padding: 6px 12px;
    border-radius: 26px;     
}


footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
footer a {
    color: white;
    text-decoration: none;
    text-align: center;
    margin: auto;
    margin: 0 20px;
}

/* ------------------------------------------------Media Queries--------------------------- */
@media only screen and (max-width:767px) {
    header h1 {
        
        font-size: 16px;
      
    }
    #left_menu, a{
        font-size: 10px;
    }
    #center_heading, h2 {
        font-size: 30px;  
        }
        #left_heading {
            font-size:16px ;
            margin-left: 5px;
        }
        #left_heading h3 {
            /* font-size:16px ; */
            width: 85px;
        }
        .text-center, p {
            font-size: 16px;
            margin-bottom: 10px;  
        }
        .btn {
            font-size: 12px;
            /* height-top: 10px; */
            display: block;
            margin: auto;
            
        }
        #center_text,h3  {
           
             width: 100%;
             font-size: 12px;
             

        }
        .About_Founder p {
            font-size: 12px;

        }
        footer a {
         
            margin: 0 4px;
        }
    }


@media  only screen and (min-width:768px) and (max-width:1024px) {
    /* --------------- */
}


@media only screen and (max-width:320px) {
    header, h1 {
        
        font-size: 0px;

    }
}


